<style>
  #commentsPage .panel{
    border:none;
  }
  #commentsPage .list-group-item{
    border-right: none!important; 
  }
</style>
<div class="app-content-body " id="commentsPage">
      <div class ="hbox hbox-auto-xs hbox-auto-sm" >
        <div class ="col-md-3 bg-light dk b-r bg-auto no-padder">
          <div id ="email-menu">
            <div class ="bg-white-only b-l bg-auto no-border-xs">
              <div class ="nav-tabs-alt">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#tin-nhan" data-toggle="tab" aria-expanded="false"><i class="fa fa-comments-o text-md text-success wrapper-sm"></i></a></li>
                  <li class=""><a href="#sms-chua-xem" data-toggle="tab" aria-expanded="false"><i class="fa fa-warning text-md text-warning wrapper-sm"></i></a></li>
                  <li class=""><a href="#sms-luu-tru" data-toggle="tab" aria-expanded="true"><i class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i></a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tin-nhan">
                  <!-- list -->
                  <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                     Tất cả tin nhắn
                    </li>
                    <li class="list-group-item clearfix">
                      <div class="input-group">
                        <input type="text" class="form-control input-sm btn-rounded" placeholder="Search">
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </li>

                    <li class="list-group-item clearfix text-center" ng-if="conversationLoading">
                      <div class="facebook_loading"><span></span><span></span><span></span></div>
                      <p>Đang tải dữ liệu</p>
                    </li>

                    <li class="list-group-item clearfix" ng-repeat="item in list_conversation" ng-if="!conversationLoading"  ng-class="$stateParams.conversationId == item.id ? 'active' : ''" ui-sref="app.inboxs_detail({page: item.page_id, conversationId: item.id})">
                      <a class="avatar thumb pull-left m-r" >
                        <img ng-src="http://graph.facebook.com/{{item.customer.profile_id}}/picture?type=large">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " >{{item.customer.fullname}}</a></div>
                        <div class="text-ellipsis m-t-xs ">{{item.last_message}}</div>
                      </div>      
                    </li>
                   


                  </ul>
                  <!-- / list -->
                </div>
                <div class="tab-pane" id="sms-chua-xem">
                  <!-- list -->
                  <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                     Bình Luận Chưa Xem
                    </li>
                    <li class="list-group-item clearfix">
                        <div class="input-group">
                          <input type="text" class="form-control input-sm btn-rounded" placeholder="Search">
                          <span class="input-group-btn">
                          <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thịnh</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                  </ul>
                  <!-- / list -->
                </div>
                <div class="tab-pane" id="sms-luu-tru">
                  <!-- list -->
                  <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                     Lưu Trữ
                    </li>
                    <li class="list-group-item clearfix">
                        <div class="input-group">
                          <input type="text" class="form-control input-sm btn-rounded" placeholder="Search">
                          <span class="input-group-btn">
                          <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Minh</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                  </ul>
                  <!-- / list -->
                </div>
              </div>
              <!-- aside right -->
              <div class="app-aside-right pos-fix no-padder w-md w-auto-xs bg-white b-l animated fadeInRight hide" ng-controller="InboxDetailCtrl">
                <div class="vbox">
                  <div class="wrapper b-b b-t b-light m-b">
                    <a href="" class="pull-right text-muted text-md" ui-toggle-class="show" target=".app-aside-right"><i class="icon-close"></i></a>
                    Chat
                  </div>
                  <div class="row-row">
                    <div class="cell">
                      <div class="cell-inner padder">
                        <!-- chat list -->
                        <div class="m-b">
                          <a href="" class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
                          <div class="clear">
                            <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                              <span class="arrow left pull-up"></span>
                              <p class="m-b-none">Hi John, What's up...</p>
                            </div>
                            <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                          </div>
                        </div>
                        <div class="m-b">
                          <a href="" class="pull-right thumb-xs avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
                          <div class="clear">
                            <div class="pos-rlt wrapper-sm bg-light r m-r-sm">
                              <span class="arrow right pull-up arrow-light"></span>
                              <p class="m-b-none">Lorem ipsum dolor :)</p>
                            </div>
                            <small class="text-muted">1 minutes ago</small>
                          </div>
                        </div>
                        <div class="m-b">
                          <a href="" class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
                          <div class="clear">
                            <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                              <span class="arrow left pull-up"></span>
                              <p class="m-b-none">Great!</p>
                            </div>
                            <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i>Just Now</small>
                          </div>
                        </div>
                        <!-- / chat list -->
                      </div>
                    </div>
                  </div>
                  <div class="wrapper m-t b-t b-light">
                    <form class="m-b-none">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Say something">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">SEND</button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- / aside right -->
            </div>
          </div>
        </div>
        <div class="col-md-5 no-padder">
          
          <div>
            <!-- header -->
            <div class="wrapper bg-white lter b-b">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-md btn-bg btn-default" title="Đánh dấu chưa đọc"><i class="fa fa-warning text-warning"></i></button>
                <button type="button" class="btn btn-md btn-bg btn-default" title="Xem trên facebook"><i class="fa fa-sign-out text-primary"></i></button>
              </div>
              <div class="btn-toolbar">
                <div class="btn-group dropdown">
                  <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-label">Filter</span>                    
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu text-left text-sm">
                    <li><a ui-sref="app.mail.list({fold:'unread'})">Unread</a></li>
                    <li><a ui-sref="app.mail.list({fold:'starred'})">Starred</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button class="btn btn-sm btn-bg btn-default" data-toggle="tooltip" data-placement="bottom" data-title="Refresh" data-original-title="" title=""><i class="fa fa-refresh"></i></button>
                </div>
              </div>
            </div>
            <!-- / header -->
          <div class="wrapper-no">
            <!-- chat -->
            <div class="panel panel-default">
              <!-- <div class="panel-heading font-bold">Tên Người Dùng</div> -->
              <div class="panel-body">
                <div class="m-b">
                  <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                  <div class="m-l-xxl">
                    <div class="pos-rlt wrapper b b-light r r-2x">
                      <span class="arrow left pull-up"></span>
                      <p class="m-b-none">Hi John, What's up...</p>
                    </div>
                    <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                  </div>
                </div>
                <div class="m-b">
                  <a href class="pull-right thumb-sm avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
                  <div class="m-r-xxl">
                    <div class="pos-rlt wrapper bg-primary r r-2x">
                      <span class="arrow right pull-up arrow-primary"></span>
                      <p class="m-b-none">Lorem ipsum dolor sit amet, conse <br>adipiscing eli...<br>:)</p>
                    </div>
                    <small class="text-muted">1 minutes ago</small>
                  </div>
                </div>                          
              </div>
              <!-- <footer class="panel-footer">
                chat form
                <div>
                  <a class="pull-left thumb-xs avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
                  <form class="m-b-none m-l-xl">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="Viết trả lời ..."></textarea>
                    </div>
                    <footer class="panel-footer text-right bg-white lter">
                      <button type="submit" class="btn btn-default"><i class="icon icon-camera text-info"></i></button>
                      <button type="submit" class="btn btn-default"><i class="fa fa-send-o text-info"></i></button>
                    </footer>
                  </form>
                </div>
                </footer> -->
                <div class="widget-area no-padding blank">
                  <div class="status-upload">
                    <form>
                      <textarea placeholder="Viết trả lời ..." row="3"></textarea>
                      <ul>
                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                      </ul>
                      <button type="submit" class="btn btn-success green"><i class="fa fa-send-o"></i> Gửi</button>
                    </form>
                  </div><!-- Status Upload  -->
                </div><!-- Widget Area -->
                <div class="clearfix"></div>
            </div><!-- /chat -->
            </div>
          </div>
        </div>
        <div class="col-md-4 bg-light dk b-r bg-auto no-padder">
          <div id="email-menu">
            <div class="bg-white-only b-l bg-auto no-border-xs">
              <div class="nav-tabs-alt">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#tin-nhan" data-toggle="tab" aria-expanded="false"><i class="fa fa-comments-o text-md text-success wrapper-sm"></i></a></li>
                  <li class=""><a href="#sms-chua-xem" data-toggle="tab" aria-expanded="false"><i class="fa fa-warning text-md text-warning wrapper-sm"></i></a></li>
                  <li class=""><a href="#sms-luu-tru" data-toggle="tab" aria-expanded="true"><i class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i></a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tin-nhan">
                  <!-- list -->
                  <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                     Tất cả tin nhắn
                    </li>
                    <li class="list-group-item clearfix">
                      <div class="input-group">
                        <input type="text" class="form-control input-sm btn-rounded" placeholder="Search">
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                  </ul>
                  <!-- / list -->
                </div>
                <div class="tab-pane" id="sms-chua-xem">
                  <!-- list -->
                  <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                     Bình Luận Chưa Xem
                    </li>
                    <li class="list-group-item clearfix">
                        <div class="input-group">
                          <input type="text" class="form-control input-sm btn-rounded" placeholder="Search">
                          <span class="input-group-btn">
                          <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thịnh</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                  </ul>
                  <!-- / list -->
                </div>
                <div class="tab-pane" id="sms-luu-tru">
                  <!-- list -->
                  <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                     Lưu Trữ
                    </li>
                    <li class="list-group-item clearfix">
                        <div class="input-group">
                          <input type="text" class="form-control input-sm btn-rounded" placeholder="Search">
                          <span class="input-group-btn">
                          <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Minh</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                    <li class="list-group-item clearfix">
                      <a class="avatar thumb pull-left m-r" href="#/app/page/profile">
                        <img ng-src="img/a10.jpg" src="img/a10.jpg">
                      </a>
                      <div class="clear">
                        <div><a  class="text-md " href="#/app/mail/10">Phạm Quang Thành</a></div>
                        <div class="text-ellipsis m-t-xs ">em muốn mua 1 cái điện thoại giá bao nhiêu ạ</div>
                      </div>      
                    </li>
                  </ul>
                  <!-- / list -->
                </div>
              </div>
              <!-- aside right -->
              <div class="app-aside-right pos-fix no-padder w-md w-auto-xs bg-white b-l animated fadeInRight hide">
                <div class="vbox">
                  <div class="wrapper b-b b-t b-light m-b">
                    <a href="" class="pull-right text-muted text-md" ui-toggle-class="show" target=".app-aside-right"><i class="icon-close"></i></a>
                    Chat
                  </div>
                  <div class="row-row">
                    <div class="cell">
                      <div class="cell-inner padder">
                        <!-- chat list -->
                        <div class="m-b">
                          <a href="" class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
                          <div class="clear">
                            <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                              <span class="arrow left pull-up"></span>
                              <p class="m-b-none">Hi John, What's up...</p>
                            </div>
                            <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                          </div>
                        </div>
                        <div class="m-b">
                          <a href="" class="pull-right thumb-xs avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
                          <div class="clear">
                            <div class="pos-rlt wrapper-sm bg-light r m-r-sm">
                              <span class="arrow right pull-up arrow-light"></span>
                              <p class="m-b-none">Lorem ipsum dolor :)</p>
                            </div>
                            <small class="text-muted">1 minutes ago</small>
                          </div>
                        </div>
                        <div class="m-b">
                          <a href="" class="pull-left thumb-xs avatar"><img src="img/a2.jpg" alt="..."></a>
                          <div class="clear">
                            <div class="pos-rlt wrapper-sm b b-light r m-l-sm">
                              <span class="arrow left pull-up"></span>
                              <p class="m-b-none">Great!</p>
                            </div>
                            <small class="text-muted m-l-sm"><i class="fa fa-ok text-success"></i>Just Now</small>
                          </div>
                        </div>
                        <!-- / chat list -->
                      </div>
                    </div>
                  </div>
                  <div class="wrapper m-t b-t b-light">
                    <form class="m-b-none">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Say something">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">SEND</button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- / aside right -->
            </div>
          </div>
        </div>
      </div>
    </div> 
    <script> 
      $(document).ready(function(){
          $("[data-toggle=tooltip]").tooltip();
      });
    </script>