
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />

        <div id="pagewrap" class="pagewrap">
            <div class="container show" id="page-1">
               
                
            </div><!-- /container -->

            <!-- The new page dummy; this would be dynamically loaded content -->

            
            <div class="[ container text-center ]" id="page-2">
              <div class="[ row ]">
                <div class="[ col-xs-12 ]" style="padding-bottom: 30px;">
                  
                </div>
              </div>
            </div>
            <div class="[ text-center ]" style="margin-top:5%">
              <h3 class="text-center" style="position: relative;padding-bottom: 40px;">Chào <span class="text-warning">{{users.fullname}}</span> hãy chọn trang mà bạn quản lý</h3>
              <div class="[ row ]">
                <div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
                  <div class="[ col-xs-4 col-sm-12 ]">
                    <!-- Nav tabs -->
                    <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                      <li role="presentation" ng-repeat="item in infoPage">
                        <a href="" aria-controls="dustin" role="tab" data-toggle="tab">
                        <img ng-click="func_click(item.name)" class="img-circle" data-rel="{{}}" src="{{item.picture.data.url}}" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="[ col-xs-8 col-sm-12 ]">
                    <!-- Tab panes -->
                    <div class="tab-content" id="tabs-collapse">
                      <div role="tabpanel" class="tab-pane fade in active" >
                        <div class="tab-inner">
                          <div class="box-tab" ng-repeat = 'info in infoPage' data-rel="{{info.name}}">
                            <p class="lead m-b-sm" class="">{{info.username}}</p>
                            <p class="m-b-md">{{info.about}}
                              Email : sale@piweb.vn
                              Phone : 0962987026
                            </p>
                            <span style="border-radius: 20px;" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-ok"></i> Truy cập quản lý</span>
                          </div>
                          <hr>
                          <p><strong>Copyright © 2015 - FaceCRM.vn. All Rights Reserved. </strong></p>
                          <p><em class="text-capitalize"> Powered by </em>  <a href="#">FaceCRM.vn</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--                 <section>
                <h2>Chào {{users.fullname}}.</h2>
                <p><a class="pageload-link" >Go back</a></p>
            </section>
             -->            </div><!-- /container -->

            <div id="loader" class="pageload-overlay" data-opening="M -18 -26.90625 L -18 86.90625 L 98 86.90625 L 98 -26.90625 L -18 -26.90625 Z M 40 29.96875 C 40.01804 29.96875 40.03125 29.98196 40.03125 30 C 40.03125 30.01804 40.01804 30.03125 40 30.03125 C 39.98196 30.03125 39.96875 30.01804 39.96875 30 C 39.96875 29.98196 39.98196 29.96875 40 29.96875 Z">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="xMidYMid slice">
                    <path d="M -18 -26.90625 L -18 86.90625 L 98 86.90625 L 98 -26.90625 L -18 -26.90625 Z M 40 -25.6875 C 70.750092 -25.6875 95.6875 -0.7500919 95.6875 30 C 95.6875 60.750092 70.750092 85.6875 40 85.6875 C 9.2499078 85.6875 -15.6875 60.750092 -15.6875 30 C -15.6875 -0.7500919 9.2499078 -25.6875 40 -25.6875 Z"/>
                </svg>
            </div><!-- /pageload-overlay -->
            
        </div><!-- /pagewrap -->