<!-- header -->
  <header id="header" class="app-header navbar" role="menu">
          <!-- navbar header -->
      <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle="show" target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle="off-screen" target=".app-aside" ui-scroll="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-btc"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">Angulr</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href="#" class="btn no-shadow navbar-btn" ui-toggle="app-aside-folded" target=".app">
            <i class="fa fa-dedent fa-fw text"></i>
            <i class="fa fa-indent fa-fw text-active"></i>
          </a>
          
        </div>
        <!-- / buttons -->

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" data-target=".navbar-collapse" role="search" >
          <div class="form-group">
            <div class="input-group">
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Tìm kiếm...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeIn">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>Bạn có <span>2</span> thông báo</strong>
                </div>
                <div class="list-group">
                  <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                      <img src="img/a0.jpg" alt="..." class="img-circle">
                    </span>
                    <span class="media-body block m-b-none">
                      Use awesome animate.css<br>
                      <small class="text-muted">10 minutes ago</small>
                    </span>
                  </a>
                  <a href class="media list-group-item">
                    <span class="media-body block m-b-none">
                      1.0 initial released<br>
                      <small class="text-muted">1 hour ago</small>
                    </span>
                  </a>
                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a href="#notes" data-toggle="class:show animated fadeInRight">Xem tất cả thông báo</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">Ne's Chanel - Chuyên quần áo nữ</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeIn w wrapper-sm">
              <li>
                <div class="media">
                  <span class="pull-left thumb-sm"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
                  <div class="media-body">
                    <div><a href="">Shop Quần Áo</a></div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="media">
                  <span class="pull-left thumb-sm"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
                  <div class="media-body">
                    <div><a href="">Shop Quần Áo</a></div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="media">
                  <span class="pull-left thumb-sm"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
                  <div class="media-body">
                    <div><a href="">Shop Quần Áo</a></div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="media">
                  <span class="pull-left thumb-sm"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
                  <div class="media-body">
                    <div><a href="">Shop Quần Áo</a></div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <a ui-sref="access.signin">Đăng Xuất</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
      <!-- / navbar collapse -->
  </header>
  <!-- / header -->

  <ui-view></ui-view> 

  
  <!-- aside -->
  <aside id="aside" class="app-aside hidden-xs bg-dark" ng-include="'views/partials/sidebar.html'">

  </aside>
  <!-- / aside -->
  
  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      

      <div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
          app.settings.asideFolded = false; 
          app.settings.asideDock = false;
        ">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 font-bold ">Tổng quan</h1>
                <small class="text-muted">Ne's Chanel - Chuyên quần áo nữ</small>
              </div>
              
            </div>
          </div>
          <!-- / main header -->
          <div class="wrapper-md" >
            <!-- stats -->
            <div class="row">
              <div class="col-md-12">
                <div class="row row-sm text-center">
                  <div class="col-xs-6">
                    <div class="panel padder-v item bg-success">
                      <div class="h1 text-white font-thin h1">521</div>
                      <span class="text-muted text-md">Bình luận</span>
                      <div class="top text-right w-full">
                        <i class="fa fa-comment text-white m-r-sm"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <span href class="block panel padder-v bg-primary item">
                      <span class="text-white font-thin h1 block">930</span>
                      <span class="text-muted text-md">Tin nhắn</span>
                      <span class="bottom text-right w-full">
                        <i class="fa fa-inbox text-muted m-r-sm"></i>
                      </span>
                    </span>
                  </div>
                  <div class="col-xs-6">
                    <span class="block panel padder-v bg-info item">
                      <span class="text-white font-thin h1 block">432</span>
                      <span class="text-muted text-md">Khách hàng</span>
                      <span class="top text-left">
                        <i class="fa fa-users text-muted m-l-sm"></i>
                      </span>
                    </span>
                  </div>
                  <div class="col-xs-6">
                    <div class="panel padder-v item bg-danger">
                      <div class="font-thin h1">129</div>
                      <span class="text-muted text-md">Doanh thu</span>
                      <div class="bottom text-left">
                        <i class="fa fa-money text-white m-l-sm"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / stats -->

            <!-- tasks -->
            <div class="row">
              <div class="col-sm-6">
                <div class="panel b-a">
                  <div class="panel-heading  b-b b-light">
                    <span class="badge bg-danger pull-right">10</span>
                    <a href class="font-bold">Bình luận mới</a>
                  </div>
                  <ul class="list-group list-group-lg no-bg auto">
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a4.jpg" alt="...">
                        <i class="on b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Chris Fox</span>
                        <small class="text-muted clear text-ellipsis">What's up, buddy</small>
                      </span>
                      <span class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        2hs ago
                      </span>
                    </li>
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a5.jpg" alt="...">
                        <i class="on b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Amanda Conlan</span>
                        <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
                      </span>
                    </li>
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a6.jpg" alt="...">
                        <i class="busy b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Dan Doorack</span>
                        <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
                      </span>
                    </li>
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a7.jpg" alt="...">
                        <i class="away b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Lauren Taylor</span>
                        <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
                      </span>
                    </li>
                  </ul>
                  <div class="clearfix "></div>
                </div>       
              </div>
              <div class="col-sm-6">
                <div class="panel b-a">
                  <div class="panel-heading  b-b b-light">
                    <span class="badge bg-danger pull-right">10</span>
                    <a href class="font-bold">Tin nhắn mới</a>
                  </div>
                  <ul class="list-group list-group-lg no-bg auto">
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a4.jpg" alt="...">
                        <i class="on b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Chris Fox</span>
                        <small class="text-muted clear text-ellipsis">What's up, buddy</small>
                      </span>
                      <span class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        2hs ago
                      </span>
                    </li>
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a5.jpg" alt="...">
                        <i class="on b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Amanda Conlan</span>
                        <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
                      </span>
                    </li>
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a6.jpg" alt="...">
                        <i class="busy b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Dan Doorack</span>
                        <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
                      </span>
                    </li>
                    <li class="list-group-item clearfix">
                      <span class="pull-left thumb-sm avatar m-r">
                        <img src="img/a7.jpg" alt="...">
                        <i class="away b-white bottom"></i>
                      </span>
                      <span class="clear">
                        <span>Lauren Taylor</span>
                        <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
                      </span>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>       
              </div>
            </div>
            <!-- / tasks -->
          </div>
        </div>
        <!-- / main -->
      </div>


    </div>
  </div>
  <!-- / content -->

  <div ng-include="'views/partials/footer.html'"></div>
