<div class="aside-wrap">
      <div class="navi-wrap">
         <!-- nav -->
        <nav ui-nav class="navi clearfix">
          <ul class="nav">
            
            <li>
              <a href="#" class="">
                <!-- <b class="badge bg-info pull-right">9</b> -->
                <i class="fa fa-bar-chart text-success-lter"></i>
                <span class="font-bold">Tổng quan</span>
              </a>
            </li>
            
            <li>
              <a href="ui_chart.html">
                <i class="fa fa-globe"></i>
                <span>Bình luận</span>
              </a>
            </li>

            <li>
              <a href="ui_chart.html">
                <i class="fa fa-comments-o"></i>
                <span>Tin nhắn</span>
              </a>
            </li>


            <li>
              <a href="ui_chart.html">
                <i class="fa fa-users"></i>
                <span>Quản lý khách hàng</span>
              </a>
            </li>

            <li>
              <a href="ui_chart.html">
                <i class="fa fa-shopping-cart"></i>
                <span>Quản lý đơn hàng</span>
              </a>
            </li>


            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-file icon"></i>
                <span>Cấu hình</span>
              </a>
              <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                  <a href>
                    <span>Pages</span>
                  </a>
                </li>
                <li>
                  <a href="page_profile.html">
                    <span>Profile</span>
                  </a>
                </li>
                <li>
                  <a href="page_post.html">
                    <span>Post</span>
                  </a>
                </li>
                
              </ul>
            </li>

            <li class="line dk hidden-folded"></li>

            <li>
              <a href="page_profile.html">
                <i class="fa fa-power-off text-danger-lter"></i>
                <span>Đăng xuất</span>
              </a>
            </li>
            
          </ul>
        </nav>
        <!-- nav -->
      </div>
    </div>