<div class="no-padder">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="text-u-c">Thông tin đơn hàng</span>
    </div>
    <div class="wrapper b-b b-light clear">
     <span class="pull-left"> Tìm kiếm: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"></span>
     <span class="pull-right"><button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>Xuất Excel</button></span>
    </div>
    <div class="table-responsive tb-sanpham">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Ngày mua</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Tổng giá</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Lương Văn Chung</td>
            <td>0985825687</td>
            <td>02/07/2015</td>
            <td>Đồng hồ đeo tay mã số 001</td>
            <td>2</td>
            <td>10.000.000 đ</td>
            <td><span class="label bg-danger" title="Đang xử lý">Đang xử lý</span></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Lương Văn Chung</td>
            <td>0985825687</td>
            <td>02/07/2015</td>
            <td>Đồng hồ đeo tay mã số 001</td>
            <td>2</td>
            <td>10.000.000 đ</td>
            <td><span class="label bg-danger" title="Đang xử lý">Đang xử lý</span></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Lương Văn Chung</td>
            <td>0985825687</td>
            <td>02/07/2015</td>
            <td>Đồng hồ đeo tay mã số 001</td>
            <td>2</td>
            <td>10.000.000 đ</td>
            <td><span class="label bg-danger" title="Đang xử lý">Đang xử lý</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>