<div class="no-padder">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="text-u-c">Thông tin sản phẩm</span>
    </div>
    <div class="wrapper b-b b-light clear">
     <span class="pull-left"> Tìm kiếm: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"></span>
     <span class="pull-right"><button class="btn btn-success btn-addon"><i class="fa fa-plus"></i>Thêm sản phẩm</button>
      <button class="btn btn-primary btn-addon"><i class="icon icon-cloud-download"></i>Xuất Excel</button></span>
    </div>
    <div class="table-responsive tb-sanpham">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>ID</th>
            <th>Ảnh đại diện</th>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Giá bán</th>
            <th>Tổng số lượng</th>
            <th>Chi phí phụ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">#DDD001</th>
            <td><img class="thumb-sm" src="img/a9.jpg" alt=""></td>
            <td>Ốp lưng iphone 6</td>
            <td>Ốp lưng điện thoại</td>
            <td>1.000.000 đ</td>
            <td>20/30</td>
            <td>100.000 đ</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
